# .NET Core
bin/
obj/
.vs/
.idea/
.vscode/
appsettings.Development.json
appsettings.Production.json

# React
node_modules/
build/
*.log
*.env
*.tsbuildinfo
*.d.ts

# OS Files
.DS_Store
Thumbs.db

# User-specific files
*.user
*.suo

# IDE files
.idea/
.vscode/

# NPM debug files
npm-debug.log
yarn-debug.log
yarn-error.log

# Local environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
